# Ignore these types of files
**/*.ipynb_checkpoints
**/__pycache__/
**/data/
**/*.pkl

# Don't ignore classifier.pkl files in disaster response project
!base/portfolio/udacity/05-disaster-response/classifier.pkl

# Specially ignore these files / subfolders
**/portfolio/udacity/05-disaster-response/flask_exercise/
**/machine-learning/09-miscellaneous-topics/aws/aws-big-data/AWSCertBigData-Materials/
**/machine-learning/09-miscellaneous-topics/aws/aws-big-data/BigData.pem
**/machine-learning/09-miscellaneous-topics/aws/aws-machine-learning/AmazonSageMakerCourse-master/