<!DOCTYPE html>
<html lang="en">
  {% include google_analytics.html %}
  {% include head.html %}
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 20px;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="../_build/images/logo/brand_logo.png"></a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <!-- .js-show-sidebar shows sidebar by default -->
    <div id="js-textbook" class="c-textbook {% if site.show_sidebar %}js-show-sidebar{% endif %}">
      {% if site.show_sidebar == true %}{% include sidebar.html %}{% endif %}
      {% if page.search_page != true %}
      <!-- Empty sidebar placeholder that we'll auto-fill with javascript -->
      <aside class="sidebar__right">
          <header><h4 class="nav__title"><i class="fa fa-list"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label }}</h4></header>
          <nav class="onthispage">
          </nav>
      </aside>
      {% endif %}
      <main class="c-textbook__page" tabindex="-1">
          <div class="o-wrapper">
            {% if site.show_sidebar == true %}{% include sidebar-toggle.html %}{% endif %}
            {% include buttons.html %}
            <div class="c-textbook__content">
              {{ content }}
              {% include page-nav.html %}
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- FOOTER -->
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container">
        <div class="row">
          <h2>Follow Me</h2>
          <div class="container-fluid">
            <ul class="social-network social-circle">
             <li><a href="https://www.facebook.com/jeff.chen.5203" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
             <li><a href="https://www.instagram.com/jeffchenchengyi/?hl=en" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
             <li><a href="https://www.linkedin.com/in/jeffchenchengyi/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
             <li><a href="https://github.com/jeffchenchengyi" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
            </ul>       
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 copy">
            <p class="text-center">&copy; Copyright 2018 - Chengyi (Jeff) Chen.  All rights reserved.</p>
          </div>
        </div>
      </div>
    </nav>
    <!-- <footer class="mainfooter" role="contentinfo" style="">
      <div class="footer-middle">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="footer-pad">
                <h4>Heading 1</h4>
                <ul class="list-unstyled">
                  <li><a href="#"></a></li>
                  <li><a href="#">Payment Center</a></li>
                  <li><a href="#">Contact Directory</a></li>
                  <li><a href="#">Forms</a></li>
                  <li><a href="#">News and Updates</a></li>
                  <li><a href="#">FAQs</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="footer-pad">
                <h4>Heading 2</h4>
                <ul class="list-unstyled">
                  <li><a href="#">Website Tutorial</a></li>
                  <li><a href="#">Accessibility</a></li>
                  <li><a href="#">Disclaimer</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Webmaster</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="footer-pad">
                <h4>Heading 3</h4>
                <ul class="list-unstyled">
                  <li><a href="#">Parks and Recreation</a></li>
                  <li><a href="#">Public Works</a></li>
                  <li><a href="#">Police Department</a></li>
                  <li><a href="#">Fire</a></li>
                  <li><a href="#">Mayor and City Council</a></li>
                  <li>
                    <a href="#"></a>
                  </li>
                </ul>
              </div>
            </div>
            <h2>Follow Me</h2>
            <div class="container-fluid">
              <ul class="social-network social-circle">
               <li><a href="https://www.facebook.com/jeff.chen.5203" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://www.instagram.com/jeffchenchengyi/?hl=en" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://www.linkedin.com/in/jeffchenchengyi/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://github.com/jeffchenchengyi" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
              </ul>       
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2018 - Chengyi (Jeff) Chen.  All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer> -->
  </body>
</html>
